PORT=8080
DB_URI=postgresql://username:password@hostname/database?sslmode=require
SALT_ROUNDS=10
JWT_SECRET_KEY=suaChaveSecretaAqui
JWT_ACCESS_TOKEN_EXPIRES=10h

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_AUTH_USER=support@doapix.com
EMAIL_AUTH_PASS=password123

PIX_URL=https://api-pix.com.br
PIX_CLIENT_ID=Client_Id_FakeSample1234567890abcdef12345678
PIX_CLIENT_SECRET=Client_Secret_FakeSample1234567890abcdef12345678
PIX_CERTIFICATE_FILE=homologacao.p12.sample
PIX_CERTIFICATE_BASE64=
PIX_KEY=1234abcd-5678-efgh-ijkl-9876mnopqrst
PIX_SPLIT_CONFIG_ID=0123456789abcdef0123456789abcdef

HEBHOOK_USER_ID=01234567-89ab-cdef-0123-456789abcdef

PUSHER_APP_ID=1234567
PUSHER_KEY=1234567890abcdefghij
PUSHER_SECRET=01234567890abcdefghi
PUSHER_CLUSTER=mt1
PUSHER_USE_TLS=true
